<!-- app/views/time_entries/index.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= @project.name %></h1>
    <ul>
      <% @time_entries.each do |entry| %>
        <li>
          <p>
          <%= entry.hours %>:<%= entry.minutes %> -
          <%= entry.comments %></p>
        </li>
      <% end %>
    </ul>
  </body>
</html>
