/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  background: url(unsplash_trip_mountain_opacity30) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#trip_planners-home {
  background: url(unsplash_travel_horizon_opacity50.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#trip_planners-show {
  background: url(unsplash_travel_horizon_opacity50.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#trip_planners-new {
  background: url(unsplash_travel_horizon_opacity50.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#trip_planners-itenarary {
  background: url(unsplash_travel_horizon_opacity50.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-nav li:last-child {
  margin-right: 20px;
}

/* /users/sign_in */

.canvas-wrap {
  position:relative;
  top: 50px;
  left: 100px;
}

.canvas {
  width: 400px;
}

.overlay {
  position:absolute;
  top:32px;
  left:40px;
}

form#new_user {
  border: 1px solid #fff;
  border-radius: 10px;
  height: 180px;
  width: 270px;
  padding: 0 15px;
  position: relative;
}

input#user_email {
  margin: 20px 0;
}

input#user_password {
  margin: 10px 0;
}

.actions input.btn.btn-default {
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 16px;
  margin-bottom: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

form>a {
  font-style: italic;
  color: #888;
}

form>a:hover {
  color: #fff;
}

.field {
  margin: 3px 0;
}

.field label {
  color: #fff;
}

.signup-btn {
  float: left;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}



#home a {
  margin: 0 10px;
  color: #fff;
}

#logout a {
  margin: 0 10px;
  color: #fff;
}

#login a {
  margin: 0 10px;
  color: #fff;
}

#signup a {
  margin: 0 10px;
  color: #fff;
}

/* / */

.destination-search-form h3{
  width: 410px;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 50px;
  color: #fff;
}

.searchbar {
  max-width: 400px;
  margin: auto;
}


/* /trip_planners/show */

.col-sm-10.show-col-2 {
  height: 15vh
}

.col-sm-10.show-col-2 h1:first-child {
  font-size: 24px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}

.planner-btn.pull-right a.btn.btn-default {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

#luggage {
  width: 50px;
  margin-right: 15px
}

ul.nav.nav-tabs {
  padding-top: 10px;
}

.col-sm-8.show-col-2 .tab-content {
  height: 65vh;
  overflow: auto;
  border-bottom: 1px solid #fff;
}

.add-btn .btn {
  font-size: small;
  width: 80px;
  height: 30px;
}

.nav-tabs>li>a {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.nav-tabs>li>a:hover {
  background-color: #ddd;
  color: #555;
}

.nav-tabs>li.active>a:hover {
  color: #555;
}

.show-item.item {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 45.5%;
  height: 100px;
  overflow: hidden;
  display: inline-block;
  position: relative;
}

.show-item-img.img-rounded {
  user-select: none;
  -webkit-user-select: none;
  height: 80%;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
}

#show-img-venue {
  width: 79px;
}

.show-text-block {
  user-select: none;
  -webkit-user-select: none;
  margin-left: 1%;
  overflow-x: inherit;
}

.show-text-block .show-first-line {
  user-select: none;
  -webkit-user-select: none;
  margin: 10px 0 10px 5px;
  color: #fff;
  font-size: 16px;
}

.show-text-block .show-second-line {
  user-select: none;
  -webkit-user-select: none;
  margin: 10px 0 10px 10px;
  color: #fff;
  font-size: 12px;
}

.show-text-block .show-third-line {
  user-select: none;
  -webkit-user-select: none;
  margin: 10px 0 10px 10px;
  color: #fff;
  font-size: 12px;
}

.add-btn .btn {
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 5px;
  margin-bottom: 5px;
}


/* /trip_planners/new */

.row.new-row-1 {
  height: 15vh;
}


.col-sm-10.new-col-2 h1:first-child {
  font-size: 24px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}

.col-sm-4.new-col-3 h2 {
  font-size: 18px;
  color: #fff;
  margin: 51px 0 1px;
  border-top: 1px solid #fff;
  padding: 6px 0 6px 12px;
}

.scheduler {
  margin-top: 20px;
  border-radius: 2px;
}

#droppable {
  height: 60vh;
  border-bottom: 1px solid #fff;
  overflow-y: auto;
}

.scheduler .hour.ui-sortable {
  border-top: 1px solid #fff;
  height: 80px;
  width: 95%;
  margin: 0 auto;
  color: #fff;
}

.planner-save-btn input.btn.btn-default {
  color: #fff;
  background-color: transparent;;
  border-color: #fff;
  margin-top: 10px;
}

.itenarary-btn.pull-right a.btn.btn-default {
  color: #fff;
  background-color: transparent;;
  border-color: #fff;
}

#sortable {
  height: 100%;
  max-height: 57vh;
  min-height: 10vh;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  overflow-y: auto;
}

.hour.ui-sortable>.item-block {
  float: right;
}

.new-item.item {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2%;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 90%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  display: inline-block;
  position: relative;
}

.new-item-img.img-rounded {
  user-select: none;
  -webkit-user-select: none;
  height: 80%;
  width: 55px;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
}

.new-text-block {
  user-select: none;
  -webkit-user-select: none;
  margin-left: 1%;
  overflow-x: inherit;
}

.new-text-block .new-first-line {
  user-select: none;
  -webkit-user-select: none;
  margin: 10px 0 10px 30px;
  color: #fff;
  font-size: 16px;

}

.new-text-block .new-second-line {
  user-select: none;
  -webkit-user-select: none;
  margin: 10px 0 10px 40px;
  color: #fff;
  font-size: 12px;
}

.show-text-block .show-third-line {
  user-select: none;
  -webkit-user-select: none;
  margin: 10px 0 10px 10px;
  color: #fff;
  font-size: 12px;
}

#remove-btn a.btn.btn-danger {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-right: 5px;
  padding: 0;
  float: right;
}

.checked-items.ui-sortable li.new-item.ui-sortable-handle.ui-draggable.ui-draggable-handle {
  cursor: pointer;
  width: 90%!important;
}

.hour.ui-sortable li.new-item.ui-sortable-handle.ui-draggable.ui-draggable-handle {
  float: right;
  cursor: pointer;
}


/* /trip_planners/itenarary */

.itenerary-container {
  height: 75vh;
  width: 600px; /*remove later!!!!!!!!!!!*/
  border: 1px solid #fff;
}

.itenarary-header {
  height: 30px;
  padding: 7px;
  border-bottom: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.itenarary-header h4 {
  margin: 0;
  font-size: 14px;
  color: #fff;
}

.itenerary-container h2 {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #fff;
}

.itenerary-container h5 {
  margin-left: 50px;
  font-size: 12px;
  color: #fff;
}

.col-sm-10.itenerary-col-2 h1:first-child {
  font-size: 24px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}

.itenerary-content-containter .nav-tabs>li {
  width: 55px;
  height: 28px;
}

.itenerary-content-containter .nav-tabs>li a{
  padding: 7px 12px;
  font-size: 9px;
}

.itenerary-content-containter {
 margin: 0 50px;
}

.itenerary-content-containter .scheduler-container {
  height: 100%;
}

.itenerary-content-containter.scheduler {
  margin-top: 20px;
}

.itenerary-content-containter #droppable {
  height: 45vh;
  border-bottom: 1px solid #fff;
  overflow-y: auto;
  /*background-color: rgba(255, 255, 255, 0.3);*/
}

.itenerary-content-containter .scheduler .hour.ui-sortable {
  border-top: 1px dotted #fff;
  height: 50px;
  width: 95%;
  margin: 0 auto;
  color: #fff;
}

.itenerary-content-containter ul.hour.droppable.ui-sortable.ui-droppable {
  padding-left: 20px;
}
