<!-- app/views/contacts/new.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Address Book</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h2>Create a new contact</h2>
    <div class="contact_form">
      <form action='/contacts' method='Post'>
        <div>
          <label for="contact_name">Name</label>
          <input type="text" name="contact[name]" id="contact_name" required>
        </div>

        <div>
          <label for="contact_address">Address</label>
          <textarea name="contact[address]" id="contact_address" required></textarea>
        </div>

        <div>
          <label for="contact_phone">Phone number</label>
          <input type="tel" name="contact[phone]" id="contact_phone">
        </div>

        <div>
          <label for="contact_email">Email</label>
          <input type="email" name="contact[email]" id="contact_email">
        </div>
        <button type="submit">Add this contact</button>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      </form>
    </div>
  </body>
</html>
