<!-- views/home.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>Movie Lovers</title>
  </head>

  <body>
    <h1>Sample test</h1>
    <form action='/search' method='POST'>
      <input type='text' name='search' placeholder='type keyword'></input>
      <button type='submit' name='search'>SEARCH</button>
    </form>

  </body>
</html>
