// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Open Sans', sans-serif;
  color: #0000A0;
  background-color: #AFDCEC;
}

.contact_form {
  max-width: 160px;
}
