<form action="/signup" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="password">
  <input type="submit" name="signup" value="Sign up">
</form>
