<!-- app/views/site/home.html.erb -->

<h1>Word Central</h1>

<p>Your destination for text utilities.</p>

<p><%= link_to 'Text Inspections', 'text_inspections/new' %></p>

<p><%= link_to 'Asciis', 'asciis/new' %></p>

<p><%= link_to 'Lorem Ipsum', 'lipsum/new' %></p>
