<h1>HELLO WORLD!!</h1>

<%= image_tag "dramatic_glasses.gif"%>

<%= link_to 'take me to the calculator', '/calculator', class: 'test' %>

<!-- <%= link_to 'take me to the calculator', 'calculator_path', class: 'test' %> -->
