
<form class="destination-search-form" role="search" action="trip_planners/show" method="get">
  <h3>♪ Where are you planning to travel ?</h3>
  <div class="form-group searchbar">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Let's Search for a City ♫" name="city" id="search-box">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
  </div>
</form>
