<div class="container-fluid">
  <div class="row itenerary-row-1">
    <div class="col-sm-1 itenerary-col-1">
    </div>
    <div class="col-sm-10 itenerary-col-2">
      <h1>Your itenarary♪</h1>
    </div>
  </div>

  <div class="row itenerary-row-2">
    <div class="col-sm-1 itenerary-col-1">
    </div>
    <div class="col-sm-5 itenerary-col-2">
      <div class="itenerary-container">
        <div class="itenarary-header">
          <h4>IRONTRIP</h4>
        </div>
        <h2>TRIP ITENARARY</h2>
        <h5>Destination:</h5>
        <h5>Date of Trip:</h5>

        <div class="itenerary-content-containter">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#day1" aria-controls="day1" role="tab" data-toggle="tab">Day 1</a></li>
            <li role="presentation"><a href="#day2" aria-controls="day2" role="tab" data-toggle="tab">Day 2</a></li>
            <li role="presentation"><a href="#day3" aria-controls="day3" role="tab" data-toggle="tab">Day 3</a></li>
            <li role="presentation"><a href="#day4" aria-controls="day4" role="tab" data-toggle="tab">Day 4</a></li>
          </ul>

          <div class="tab-content" id="droppable">
            <div role="tabpanel" class="tab-pane active" id="day1">
              <div class="scheduler-container">
                <div class="scheduler"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-4 itenerary-col-3">
    </div>
  </div>
</div>
